<div class="container">

    <div class="jumbotron">
        <h1>Eat Da Burger! </h1>
        
        <br>
        <h2>Select a Burger or Sandwich</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Order Fresh Burger</label>
                    
                    <select data-placeholder="" id="newburger" name="burger">
                        <option value="Nothing Selected" selected>Please Select a Sandwich</option>
                        <option value="Fried Jelly Bean and Mayonaise">Fried Jelly Bean and Mayonaise Uncrustable</option>
                        <option value="DeercheeseBurger">Deercheese Burger</option>
                        <option value="DoubleBfChz">Double Up (Double Bun and Mayonaise)</option>
                        <option value="DuckBurger">Duck Burger</option>
                        <option value="Roasted Dorito and Peanut Butter">Roasted Dorito and Peanut Butter Po Boy</option>
                        <option value="Nothing But Ranch">Nothing But Ranch</option>
                        <option value="SteaknChz">Steak and Cheese Sandwich</option>
                    </select>

                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Order Your Burger</strong>
                    
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Devour Your Burger</strong>
                    
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>
    
</div>
